@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Circe-Regular";
    src: url("./app/fonts/Circe-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Circe-ExtraBold";
    src: url("./app/fonts/Circe-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-loader {
  /* background: linear-gradient(270deg, #575757, #454545, #333333, #1f1f1f); */
  background: linear-gradient(270deg, #ffffff, #ffffff, #ffffff, #ffffff);

  background-size: 800% 800%;
  animation: gradientAnimation 3s ease infinite;
}
